/* Hero Section
--------------------------------------------- */
.hero{
    text-align:center;
       
}


.hero h1 {
    font-size: var(--mobile-h1);
    text-transform: uppercase;

    
}

.hero h2 {
    font-size: var(--mobile-h2);
    font-weight: var(--font-normal);
}

@media (min-width: 50em) {


.hero h1 {
    font-size: var(--desktop-h1);
    text-transform: uppercase;

    
}

.hero h2 {
    font-size: var(--desktop-h2);
    font-weight: var(--font-normal);
}

.hero p {
    font-size: var( --desktop-p);    
}

}

/* Intro About Section
--------------------------------------------- */
.about-cta {
    display: inline-block;
    margin-top: 2rem;
}

@media (min-width: 50em) {

   .about-me-intro {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem 2rem;
    align-items: start;
}

.about-me-intro h2,
.about-me-intro p {
    grid-column: 2fr;
}

.about-me-intro p {
    max-width: 30ch;
}

.about-me-intro .about-cta {
    grid-column: 2;
    grid-row: 1 / span 2;

}

.about-cta{
    margin-top: 10rem;
    margin-right: 10rem;
    background-color: var( --color-primary);
    padding: 2rem;
}
}

/* Featured Works Section
--------------------------------------------- */

.featured-project-card {
    background-color: var(--color-base);
    border-radius: var(--radius-corner);  
    overflow: hidden;
    box-shadow: var(--shadow-2);
}

.featured-info-background {
    padding: var(--space-24);
}

.card-left h3{
    margin-top: 0;
}

.pill {
    background-color: var(--color-primary);
    color: var(--color-base);
    padding: var(--space-8);
    border-radius: var(--radius-pill);
}

.tech-pills {
    display: flex;
    gap: var(--space-4);

}
